
//いろいろなトークンとか

//notion db
export const INFORMATION_NOTION_DB_TOKEN = "notion token";

//chat gpt
export const CHATGPT_API_TOKEN = "chatgpt token";

//gemini
export const GEMINI_API_TOKEN = "";

//calude
export const CLAUDE_API_TOKEN = "";

//http server port
export const HTTP_SERVER_PORT = 80;

//game server port
export const GAME_SERVER_PORT = 3000;

//db host
export const DATABASE_HOST = "db host";

//db user
export const DATABASE_USERNAME = "db name";

//db password
export const DATABASE_PASSWORD = "db pass";

//db select
export const DATABASE_SELECT = "db use";
